#nossa-estrutura {
	padding-top: 100px;
	min-height: 100vh;
	background-color: var(--cor-primary);
}
.nossa-estrutura__conteudo {
	max-width: 950px;
	margin: 0 auto;
}
.nossa-estrutura__cabecalho {
	text-align: center;
	padding-bottom: 47px;
}

.nossa-estrutura__cabecalho h3 {
	color: brown;
	text-transform: uppercase;
}

.nossa-estrutura__cabecalho h2 {
	font-size: 2em;
	padding-bottom: 10px;
	padding-left: 8px;
	color: #ffffff;
	margin: 0;
}
.nossa-estrutura__cabecalho p {
	font-size: 20px;
	color: #ffffff;
	margin: 0;
}
.nossa-estrutura__img {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.img-grande {
	height: 420px;
}

.img-grande img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.img-pequena {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.img-pequena img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
}
