#servicos {
	padding-top: 100px;
	min-height: 100vh;
	text-align: center;
	background: #ffffff;
}
.servicos__content .h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--cor-secondary);
}
.servicos__content .h2 {
	margin-bottom: 20px;
	color: var(--cor-primary);
	font-size: var(--font-36);
}

.servicos__content p {
	margin-bottom: 30px;
	color: #000000;
}
.content-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 40px;
}

.card {
	width: 400px;
	height: 460px;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.card.margin-bottom-20 {
	margin-bottom: 40px;
}
.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.card i {
	display: inline-block;
	color: var(--cor-secondary);
	font-size: 34px;
	margin-top: 20px;
}

.card h3 {
	color: var(--cor-primary);
	margin-top: 20px;
	margin-bottom: 30px;
}
.card p {
	color: #000000;
	font-size: var(--font-16);
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}
